@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


.top {
    margin: 0;
    padding: 10px;
   
   
    color: white;
    background-color: #011827;
}
.esc {
    width: 150px;
    height: 120px;
    
}
header h1 {
        
        font-size: 70px;
        
    
}

nav ul{
    
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
    
}

nav ul li{
    list-style-type: none;
    font-style: roboto;
}

.hero > img{
    width: 100%;
    height: 700px;
}

.btns {
    display: flex;
    gap: 15px;
    justify-content: center;
    
}




#btn1{
    font-size: x-large;
    background-color: #E3170A;
    color:white;
    transform: translateY(-25px);
    top: -30px;
    width: 300px;
    height: 50px;
}
#btn2{
    font-size: x-large;
    background-color: #8ACFE5;
    color: white;
    transform:translateY(-25px);
    position: relative;
    width: 300px;
    height: 50px;
}


.quotes{
    display: flex;
    justify-content: space-around;
    
    
    }

 .quotes > div {
    width: 400px;
    height: 300px;
    font-family: 'Roboto';
 }   
 .quotes > cite {
    
 }

 #h1a{
     text-align: center;
 }
.card{
    display: flex;
    justify-content: space-around;
  

}
.card > h1{
text-align: center;

}
#card1 {
 
    
    width: 363px;
    height: 446px;
    left: 53px;
    top: 1203px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    

}

#card2 {
   
    width: 363px;
    height: 446px;
    left: 458px;
    top: 1203px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

#card3 {
   
    width: 363px;
    height: 446px;
    left: 863px;
    top: 1203px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}


.b1b2 {
    display: flex;
    justify-content: space-evenly;
    
}
#b1 {
    font-size: x-large;
    background-color: #E3170A;
    color:white;
   /* transform: translateY(-25px);*/
    top: -30px;
    width: 300px;
    height: 50px;
    
}
#b2 {
    font-size: x-large;
    background-color: #8ACFE6;
    color: white;
    /*transform:translateY(25px);*/
    position: relative;
    width: 300px;
    height: 50px;
}





.story{
    background-color: #011827;
    color: white;
    text-align: center;
    width: 100%;
    height: 500px;
    

    
  
}

.story > p {
    
   width: 600px;
   height: auto;
    
  
}

.story > button{
    
    width: 300px;
    height: 60px;
    background-color: blue;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 700px;
    
    
}

#square1 {
    grid-column: 1 / 2;  
    
}
#square1 > img {
    justify-content: start;
}

#square2 {
    
    
}